.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffff;
    width: 300px;
    border: 1px solid #fbfbfb5f;
    border-radius: 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    overflow: hidden;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.description {
background-color: transparent;
width: 100%;
         }

.avatar{
    border-radius: 50%;
    padding: 5px;
    width: 100px;
    display: block;
    margin: 20px auto;
    border: 1px solid #c0cdd35f;
}

.name,
.quantity {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
      text-align: center;
      margin: 0;
      margin-bottom: 5px;
}

.tag,
.location,
.label {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #656a72;
        text-align: center;
        margin: 0;
        margin-bottom: 5px;
}

.label,
.quantity,
location {
    font-size: 14px;
}

.stats{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    background-color: #bfd3dd38;
    border: 1px solid #c0cdd35f;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 56, 66, 0.08),
            0px 1px 1px rgba(46, 56, 66, 0.16), 0px 2px 1px rgba(46, 58, 66, 0.08);
}
.item{
display: flex;
flex-direction: column;
flex-basis: calc((100% - 24px) / 2);
border-radius: 0;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;

}
.item:not(:last-child){
border-right: 1px solid #c0cdd35f;
}